{% extends 'ecomapp/base.html' %}
{% block title %}
Home 
{% endblock title %}

{% block body %}
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8"> <!-- Increase the column size to make them wider -->
            <div class="row">
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 750px;"> <!-- Increase the height for a wider look -->
                        <img class="img-fluid" src="static/img/offer-1.jpg" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 750px;"> <!-- Increase the height for a wider look -->
                        <img class="img-fluid" src="static/img/offer-2.jpg" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3 justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold text-secondary m-0" >Quality Product</h5>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-dark mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume  m-0 mr-3" style="color: lightgreen;"></h1>
                <h5 class="font-weight-semi-bold text-secondary m-0" >24/7 Support</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <h2 class=" text-uppercase mx-xl-5 mb-4 "><span style="background-color: rgba(157, 132, 179, 0.473); font-size: 2rem; color: pink; text-shadow: 2px 2px purple;">Categories</span></h2>
    <div class="row px-xl-5 pb-3">

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
       
       
    </div>
</div>
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="text-uppercase mx-xl-5 mb-4"><span style="background-color: rgba(157, 132, 179, 0.473); font-size: 2rem; color: pink; text-shadow: 2px 2px purple;">Products</span></h2>
    <div class="row px-xl-5">
        {% for product in product_objects %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{{product.image}}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="{% url 'ecom:detail' product.id %}">{{product.title}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>Price: {{product.discount_price}} Tk</h5><h6 class="text-muted ml-2"><del>{{product.price}} Tk</del></h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="pagination justify-content-center">
                {% if product_objects.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
        
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ product_objects.number }} of {{ product_objects.paginator.num_pages }}
                    </span>
                </li>
        
                {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    
</div>

{% endblock body %}