{% extends 'ecomapp/base.html' %}
{% block title %}
    Cart
{% endblock title %}

{% block body %}
    <!-- Cart Start -->
    {% if cart_products %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 table-responsive">
                    <table class="table table-light table-borderless table-hover text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for product in cart_products %}
                                <tr>
                                    <td class="align-middle"><img src="" alt="" style="width: 50px;">{{ product }}</td>
                                    <td class="align-middle">{{ product.discount_price }} Tk</td>
                                    <td class="align-middle">
                                        <div class="input-group quantity" style="max-width: 100px; margin: 0 auto;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-sm btn-primary btn-minus" type="button">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-primary btn-plus" type="button">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">${{ product.discount_price }}</td>
                                    <td class="align-middle">
                                        <button class="btn btn-sm btn-danger" type="button"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </br></br></br></br></br></br></br></br></br></br>
            </br></br></br></br>
        </br></br>
    </br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-primary" style="background-color: rgba(255, 255, 255, 0.212); text-align: center; margin-top: 20vh;">Cart is empty</h1>
                </div>
            </div>
        </div>
        </br></br></br></br></br>
    </br></br></br><var></br></br></br>
    </br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br>
</br></br></br></br></br></br>
</br>
</br></br></br>

    {% endif %}
{% endblock body %}
